<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titolo Pagina -->
    <title>Vue Boolzapp</title>
    <!-- Link Foglio stile Bootstrap -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
    <!-- Link a foglio di style -->
    <link rel='stylesheet' href='./assets/css/style.css'>
    <!-- Link a Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- Link a div con ID Principale -->
    <!-- Creo i due maxi container- aside e main -->
    <div class="m_container absolute_center" id='app'>
        <!-- Aside, zona di tutte le chat (annidamento semi-ok)  -->
        <!-- Qui dai altezze fisse o si spacca tutto -->
        <aside id="app_aside">
            <div :class="row_aside_class">
                <!-- Utente (annidamento semi-ok) -->
                <div :class="active_chat_class">
                    <!-- Profilo Utente Attivo (qua intanto scrivi ma poi cambia con dinamica) -->
                    <div class="col-3 h-100 d-flex align-items-center justify-content-center">
                        <!-- Pro pics (non dinamica) -->
                        <div class="col-6 ps-4 h-100 flex_center">
                            <img class="pro_pics_xs" src="./assets/src/avatar_io.jpg" alt="User_Profile_Picture">
                        </div>
                        <!-- UserName (dinamico) -->
                        <div class="col-6 ps-4 h-100 d-flex flex-column align-items-start justify-content-center">
                            <ul class="unstyled pt-3 ps-1">
                                <li>Sofia</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Icone Utente Attivo -->
                    <div class="col-3 h-100 flex_center gap-3">
                        <i class="fa-solid fa-circle-notch bg_icons_light"></i>
                        <i class="fa-solid fa-message bg_icons_light"></i>
                        <i class="fa-solid fa-ellipsis fa-md bg_icons_light"></i>
                    </div>
                </div>
                <!-- Notifiche (zona OK) -->
                <div :class="notification_chat_class">
                    <!-- Icona notifiche -->
                    <div class="col-2 h-100 flex_center">
                        <span class="bell flex_center"> <i class="fa-solid fa-bell-slash"></i> </span>
                    </div>
                    <!-- Messaggi di testo -->
                    <div class="col-10 h-100 d-flex justify-content-start align-items-center">
                        <ul class="unstyled ps-1 pt-3">
                            <li>Ricevi Notifiche di nuovi messaggi</li>
                            <li class="fs_md">Attiva notifiche desktop</li>
                        </ul>
                    </div>
                </div>
                <!-- input Search (zona OK) -->
                <div :class="input_search_class">
                    <!-- Pulsante ricerca + input type-->
                    <div class="col-12 h-100 flex_center ">
                        <button class="h_input_search w_15 flex_center border_l_button"><i class="fa-solid fa-search fa-md bg_icons_light"></i></button>
                        <input class="h_input_search ps-3 w_85 border_r_input" type="text" placeholder="Cerca o inizia una nuova chat" v-model="inputSearch">
                    </div>
                </div>
                <!-- Tutte le chat, qua va anche scrollbar (zona OK) -->
                <div :class="all_chat_class">
                    <!-- Chat con V-For, intanto ne metto una (e il colore dovrebbe essere all'hover) -->
                    <div v-for="(contact, index, date) in contacts" class="col-12 h_chat d-flex justify-content-center align-items-center" @click="activeChat(index)" v-if="contact.name.toLowerCase().includes(inputSearch.toLowerCase())" :class="index === activeContact ? 'active': ''" >
                        <!-- Pro pics (dinamica) -->
                        <div class="col-2 h-100 flex_center">
                            <img class="pro_pics_xs" :src="'./assets/src/avatar' + contact.avatar + '.jpg'" alt="User_Profile_Picture">
                        </div>
                        <!-- UserName (dinamico) -->
                        <div class="col-8 h-100 d-flex flex-column align-items-start justify-content-center">
                            <ul class="unstyled pt-3">
                                <!-- UserName Dinamico -->
                                <li class="fs_lg">{{contact.name}}</li>
                                <!-- Messaggio dinamico -->
                                <li class="fs_md">{{contact.messages.at(-1).message.slice()}}</li>
                            </ul>
                        </div>
                        <!-- Orario Mex (dinamico) -->
                        <div class="col-2 h-100 d-flex flex-column pt-3 pe-3 align-items-end justify-content-start">
                            <span class="fs_sm">{{contact.messages.at(-1).date.slice(-8,-3)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Main, zona di chat -->
        <!-- Qui dai altezze fisse o si spacca tutto -->
        <main id="app_main">
            <div :class="row_main_class">
                <!-- Utente della chat, con ultimo accesso (annidamento semi-ok) -->
                <div :class="upper_user_chat">
                    <!-- Profilo Utente della chat (dovrebbe esser dinamico, con V-for) -->
                    <div :class="users_friend_profile">
                        <!-- Pro pics (dinamica) -->
                        <div class="col-2 h-100 d-flex justify-content-start align-items-center ps-3">
                            <img class="pro_pics_sm" :src="'./assets/src/avatar' + contacts[activeContact].avatar + '.jpg'" alt="User_Profile_Picture">
                        </div>
                        <!-- UserName (dinamico) -->
                        <div class="col-10 h-100 d-flex ps-4 flex-column align-items-start justify-content-center">
                            <ul class="unstyled pt-3">
                                <li>{{contacts[activeContact].name}}</li>
                                <li>Ultimo Accesso oggi alle 12:00 </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Icone allegati, search ecc.. -->
                    <div :class="upper_zone_icons">
                        <i class="fa-solid fa-search fa-md bg_icons_light"></i>
                        <i class="fa-solid fa-paperclip fa-md bg_icons_light"></i>
                        <i class="fa-solid fa-ellipsis fa-md bg_icons_light"></i>
                    </div>
                </div>
                <!-- Tutta la Chat - zona conclusa -->
                <div :class="message_zone_class">
                    <!-- messaggi dell'utente Tutti con v-for-->
                    <div class="message_box" v-for="(message, index) in contacts[activeContact].messages">
                        <!-- messaggio ricevuto, creato classe unica per il ternario -->
                        <div :class="message.status === 'sent' ? 'sent_m' : 'received_m'">    
                            <!-- Messaggio Received -->
                            <div class="col-10 h-100 d-flex justify-content-start align-items-center">
                                <span class="ps-3">{{message.message}}</span>
                            </div>
                            <!-- Ora Messaggio Received -->
                            <div class="col-2 h-100 d-flex justify-content-end align-items-end flex-column">
                                <!-- Qui ci va il drop-down -->
                                <div class="col-12 h-50 d-flex align-items-center justify-content-end rel">
                                    <!-- Avrà anche una function al click -->
                                    <i @click="visibleDrop(index)" class="fa-solid pe-2 chevron_style fa-chevron-down"></i>  
                                    <!-- Menu a tendina -->
                                    <ul class="dropdown_class Dropdown" v-if="message_dropdown.status && message_dropdown.activeMessage == index">
                                        <li>Message Info</li>
                                        <li>Delete Message</li>
                                    </ul>
                                </div> 
                                <!-- Questo è l'orario del messaggio -->
                                <span class="fs_sm h-50 col-12 pt-2 ps-2">{{message.date.slice(10,16)}}</span>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- Input Type Text e smile/vocale - zona conclusa -->
                <div :class="type_message_class">
                    <!-- Smile icon -->
                    <div :class="under_icons_utilities">
                        <i class="fa-regular fa-xl fa-face-smile"></i>
                    </div>
                    <!-- Input messaggio -->
                    <div class="col-10 h-100 d-flex justify-content-center align-items-center">
                        <input class="w-100 px-2 h_input_message" type="text" v-model="myMessage" placeholder="Scrivi un Messaggio" @keyup.enter="sendMessage">
                    </div>
                    <!-- Audio Icon -->
                    <div :class="under_icons_utilities">
                        <i class="fa-solid fa-xl fa-microphone"></i>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Link a JS di VUE -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <!-- Link a JS -->
    <script src='./assets/js/app.js'></script>
</body>

</html>