/*#region Palette colori da Figma  */

/* 
Text-color - colore del testo (dark)
Chat_and_Answer-Color - colore dei div chat e della navbar con le chat
Body_Header_BG - header del body
Dark_icons_color - icone smile microfono dell'input
ricevi_bg_color - navbar, ricevi nuove notifiche
upper_icons_color - icone sopra dove c'è utente
ser_message_bgcolor - messaggi dell'utente
body_main_bgcolor - colore del main body
active_Chat_bgcolor - chat attiva con background, guarda screen michele
input_Chat_bgcolor - zona input in basso
*/
:root {
    --Text-color: rgba(0, 0, 0, 1);
    --Chat_and_Answer-Color: rgba(255, 255, 255, 1); 
    --Body_Header_BG: rgba(0, 150, 136, 1);
    --Dark_icons_color: rgba(107, 115, 118, 1);
    --ricevi_bg_color: rgba(142, 218, 252, 1);
    --upper_icons_color: rgba(187, 188, 189, 1);
    --user_message_bgcolor: rgba(213, 249, 186, 1);
    --body_main_bgcolor: rgba(217, 219, 213, 1);
    --active_Chat_bgcolor: rgba(234, 234, 234, 1);
    --input_Chat_bgcolor: rgba(243, 238, 234, 1);
    --input-search_bgcolor: rgba(250, 250, 250, 1);
}

.bg_active_Chat {
    background-color: var(--active_Chat_bgcolor);
}
.bg_input_search {
    background-color: var(--input-search_bgcolor);
}
.bg_ricevi_notifiche {
    background-color: var(--ricevi_bg_color);
}
.bg_Chat_and_Answer {
    background-color: var(--Chat_and_Answer-Color);
}

/* Sfondo della chat */
.bg_chat_image {
    background-image: url(../src/mine.jpg);
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bg_type {
    background-color: var(--input_Chat_bgcolor);
}

/* Messaggi invio */
.bg_chat_user {
    background-color: var(--user_message_bgcolor);
    border-radius: 10px;
}

/* Messaggi risposta */
.bg_chat_friend {
    background-color: var(--Chat_and_Answer-Color);
    border-radius: 10px;
}
/* Icone Light */
.bg_icons_light {
    color: var(--upper_icons_color);
}
/*#endregion*/

/*#region Elementi di contenimento */

/* Elemento radice per dimensioni */
:root {
    --Body_width: 100vw;
    --Body-Heigth: 100vh;
}

/* Regola di reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#endregion */

/*#region Width and Heigth of main containers */

/* Regole del Body */
body {
    width: var(--Body_width);
    height: var(--Body-Heigth);
    font-family: Helvetica, sans-serif;
    position: relative;
    z-index: -1;
    background-image: linear-gradient(to bottom, var(--Body_Header_BG) 0px, 
    var(--Body_Header_BG) 120px, var(--body_main_bgcolor) 120px, 
    var(--body_main_bgcolor) 100%);
}

/* Container principale */
.m_container {
    display: flex;
    width: calc(100vw - 10%);
    height: calc(100vh - 5%);
    background-color: var(--active_Chat_bgcolor);
}

/* Aside */
#app_aside,
#app_main {
    height: 100%;
}

/* Aside Container */
#app_aside{
    width: 35%;
    border-right: 0.5px solid rgb(122, 122, 122);
}

/* Main Container */
#app_main {
    width: calc(100% - 35%);
}

/*#endregion */

/*#region Utilities principali  */
.absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}  

/* Altezza account e input search, input text della chat */
.h_xs {
    height: 85px;
}
/* Altezza ricevi notifiche */
.h_sm {
    height: 90px;
}
/* Altezza per le Chat */
.h_md {
    height: calc(100% - 260px);
}
/* Altezza per tutta la chat coi messaggi */
.h_xl {
    height: calc(100% - 170px);
}
/* Altezza per le Chat da ripetere, per ora questa è fissa */
.h_chat {
    height: 90px;
}
/* Altezza fissa dei messaggi */
.h_message {
    height: 80px;
}

/*#region Input type search classes */

/* w del button */
.w_15 {
    width: 15%;
}
/* Larghezza dell'input di ricerca */
.w_85 {
    width: 85%;
}
/* h input messaggio */
.h_input_message {
    height: 60%;
    border: none;
    border-radius: 0.35rem;
}

/* h input search */
.h_input_search {
    height: 60%;
    border: 0.2px solid lightgray;
}

/* Border degli input type, a DX */
.border_r_input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Border degli input type, a SX */
.border_l_button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*#endregion */

/*#region Profile Pictures  */

/* Pro Pics Utente */
.pro_pics_xs {
    width: 60px;
    height: 60px;
}
/* Pro Pics vari utenti */
.pro_pics_sm {
    width: 70px;
    height: 70px;
}
/* Common delle pro pics */
.pro_pics_xs,
.pro_pics_sm {
    object-fit: cover;
    border-radius: 50%;
}

/*#endregion */





/* font nome utente */
.fs_lg {
    font-size: 1.25rem;
}
/* Font titolo e accesso */
.fs_md {
    font-size: 1rem;
    color: rgb(150, 149, 149);
}
.fs_sm {
    font-size: 0.8rem;
    color: lightgray;
}

/* Bordo visibile di colonne */
.border_visible {
    border: 1px solid black;
}

/* Overflow scroll */
.overflow_s {
    overflow-x: hidden; /* in X Nascosco */
    overflow-y: scroll; /* in Y presente */
}
/*#endregion */

/*#region Classi Sovrascritte */

/* Font dell'input messaggio */
/* Sovrascritto la classe di F-Aw */
.fa-xl {
    font-size: 1.8rem !important;
    color: var(--Dark_icons_color);
}

.bell {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-size: 1.75rem;
    color: var(--ricevi_bg_color);
}

/* Fa MD */
.fa-md {
    font-size: 1.25rem !important;
    color: var(--Dark_icons_color);
}

/* List Item senza stile */
.unstyled {
    list-style: none;
    padding-left: 5px;
}

.fa-ellipsis {
    transform:rotate(90deg)!important;
}

/* Utilities per posizione centrata con D-Flex */

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*#endregion */

/*#region Main Chats classes  */

/* Messaggio inviato, classe unica per operatore Ternario */
.sent_m {
    flex: 0 0 auto;
    width: 41.66666667%;
    /* H 75% */
    height: 75%;
    /* Bg Color e b-radius */
    background-color: var(--user_message_bgcolor);
    border-radius: 10px;
    /* Display Flex */
    display: flex;
    align-self: flex-end
}

/* Messaggio ricevuto, classe unica per operatore Ternario */
.received_m {
    flex: 0 0 auto;
    width: 41.66666667%;
    /* H 75% */
    height: 75%;
    /* Bg Color e b-radius */
    background-color: var(--Chat_and_Answer-Color);
    border-radius: 10px;
    /* Display Flex */
    display: flex;
    align-self: flex-start;
}

/* Colonna del messaggio, classe unica per operatore Ternario */
.message_box {
    /* Col 9, classe di bootstrap */
    width: 75%;
    flex: 0 0 auto;
    /* altezza della col */
    height: 80px;
    /* margin bottom */
    margin-bottom: 0.5rem !important;
    /* Allineamento */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*#endregion */

/* Classe Attiva */
.active {
    background-color: var(--active_Chat_bgcolor);
}

/*#region Bonus - Milestone 5  */
/* Classe per il chevron e i dropdown */

.chevron_style {
    /* Cosi sembra cliccabile dall'utente */
    cursor: pointer;
    color: lightgray;
}

/* Classe per fissare la colonna con relative */
.rel {
    position: relative;
    display: inline-block;
}

/* contenuto Del dropdown  */
.dropdown_class {
    position: absolute;
    top: 70%;
    right: 30%;
    background-color: #f1f1f1;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

/* I list item da rendere visibili */
.dropdown_class li {
    align-self: center;
    color: rgb(144, 144, 144);
    margin: 5px 25px 5px 0px;
    padding: 3px 15px 0px 15px;
    text-decoration: none;
    font-size: 0.9rem;
    list-style: none;
    display: block;
}

/*#endregion */

.dropdown_class > li:hover {
    background-color: rgb(144, 144, 144);
    color: white;
} 







